:host {
  display: block;
  height: 100vh;

  .cover-container {
    height: 100%;
  }

  .openDialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ececec;
    z-index: 99;
    opacity: 0.4;
    transition: all 0.4s ease-in-out;
  }
}
